.d-header {
    background-color: white;
}

body {
    background-color: #DAF7A6;
    
}

.alert.alert-info {
    background-color: #c09d55;
    color: white;
}

:root {
    --tertiary:  black;
    --quaternary:  #c09d55;
    --tertiary-hover:  #c09d55;

}

